<script>
import SuccessErrorFeedback from "./SuccessErrorFeedback";

export default {
    name: "BaseTable",
    data(){
        return {
            items: [],
            pagination: {},
            orderBy: '',
            direction: 'desc',
            searchfor: '',
            listIsEmpty: true,
            noData: 'Keine Daten vorhanden',
            paginatePerPage: 10,
            timeoutId : 0,
            initPhase: true,
        }
    },
    mixins: [SuccessErrorFeedback],

    created(){
      //wenn eine URL gesetzt, hole Items per ajax
      if(this.data_source_url || this.urls.data_source_url)
      {
        this.fetchData();
      }
    },
    updated() {
      this.initPhase = false;
      this.listIsEmpty = this.items.length === 0
    },
    methods: {
        filter(){
            this.fetchData();
        },
        doOrderBy(column){
            if(this.orderBy == column)
            {
                if(this.direction == "desc")
                {
                  this.direction = "asc";
                }
                else
                {
                  this.direction = "desc";
                }
            }
            else
            {
                this.direction = "desc";
            }

            this.orderBy = column;
            this.fetchData();
        },

        search(){
            this.fetchData();
        },
        fetchData(page_url) {

            let vm = this;
            let data_source_url = page_url || this.data_source_url

          clearTimeout(this.timeoutId);
          this.timeoutId = setTimeout(() => {
            if(!this.initPhase)
            {

              this.initPhase = true;
              this.listIsEmpty = true;
              this.items=[];
              //showAjaxLoading(true);
            }

            if(this.orderBy!=null)
            {
                if(data_source_url.indexOf("?") > 0)
                {
                  data_source_url += "&orderBy="+this.orderBy;
                }
                else
                {
                  data_source_url += "?orderBy="+this.orderBy;
                }

              data_source_url += "&direction="+this.direction;

            }

            // searchfor
            if(data_source_url.indexOf("?") > 0)
            {
              data_source_url += "&search="+this.searchfor;
            }
            else
            {
              data_source_url += "?search="+this.searchfor;
            }

              // paginatePerPage
              if(data_source_url.indexOf("?") > 0)
              {
                  data_source_url += "&paginateperpage="+this.paginatePerPage;
              }
              else
              {
                  data_source_url += "?paginateperpage="+this.paginatePerPage;
              }

              // filter
              if(data_source_url.indexOf("?") > 0)
              {
                  data_source_url += "&filter="+this.filterfor;
              }
              else
              {
                  data_source_url += "?filter="+this.filterfor;
              }

          let headers = new Headers();
          headers.append("Accept", "application/json; charset=utf-8");
          let request = new Request(
              data_source_url,
              {
                method: "GET",
                headers,
                mode: "cors",
                cache: "default",
              }
          )
          fetch(request)
              .then(res => res.json())
              .then(res => {

                showAjaxLoading(false);
                this.items = res; //.data

                 vm.makePagination(res.meta);
              })
              .catch(err => console.log(err));
          }, this.searchfor !== '' ? process.env.MIX_TABLE_SEARCH_DELAY : 0)
        },
        makePagination(meta) {
            let pagination = {
                count : meta.count,
                current_page : meta.current_page,
                first_page_url : meta.first_page_url,
                last_page : meta.last_page,
                next_next_page_url : meta.next_next_page_url,
                next_page_url : meta.next_page_url,
                prev_page_url : meta.prev_page_url,
                prev_prev_page_url : meta.prev_prev_page_url,
                paginatePerPage : [10,25,50,100],
                last_page_url : meta.last_page_url,
                total : meta.total
            };

            this.pagination = pagination;
        },

        openUrl(url){
          window.location.href = url;
        },


    }
}
</script>
<style scoped>
.pagination_page{
    font-size:100%;
    border-radius: 5px;
}

.pagination_page:hover{
    background-color:#999 !important;
    color:white !important;

}


.selected_page{
    background-color:#999;
    color:white;

}
</style>

