<template>
    <div >
        {{items}}
    </div>
</template>

<script>
import baseTable from "./baseTable";

export default {
    data() {
        return {
            data_source_url: '/leads',
            orderBy: 'lead_number',
            direction: 'asc',
        }
    },

    mixins: [baseTable],
    methods: {


    }
};
</script>

