<script>
//import {decodeHtml} from "@/helpers"

export default {
  methods: {
    /**
     * Anzeige einer Fehlermeldung
     */
    showErrorMessage(message = '', responseObj) {

      const HTTP_ERROR_CODE_BAD_REQUEST = 400;
      const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: true,
      });

      if(responseObj && responseObj.response.data.httpStatusCode !== HTTP_ERROR_CODE_BAD_REQUEST)
      {
        message =  responseObj.response.data.message;
      }
      else if(responseObj) // Validierungsfehler
      {
        message = this.createErrorStack(responseObj);
      }

      // Fix für message aus messages.blade.php (Javascript HTML escaping)
      message = message.replace(/&lt;br&gt;/g, '<br/>')

      Toast.fire({
        icon: 'error',
        title: message,
      });
    },
    /**
     * Anzeige einer Erfolgsmeldung
     */
    showSuccessMessage(message = '', responseObj) {
      if(responseObj)
      {
        message = responseObj.data.message;
      }

      // Fix für message aus messages.blade.php (Javascript HTML escaping)
      message = message.replace(/&lt;br&gt;/g, '<br/>')

      const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.addEventListener('mouseenter', Swal.stopTimer)
          toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
      });

      Toast.fire({
        icon: 'success',
        title: message,
      })
    },
    /**
     * Verwendung falls mehrere Backend-Response-Messages verarbeitet werden müssen (z. B. Validierungsfehler)
     * @returns {string}
     */
    createErrorStack(responseObj)
    {
      var responseMessage = {};
      var errorStack = "";

      responseMessage = responseObj.response;

      for (const [key, value] of Object.entries(responseMessage.data.data)) {
        errorStack = errorStack+"<br>"+value;
      }

      return errorStack;
    },
  }
}
</script>